@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #25a1d2 0%, #cf2485 25%, #e8df31 75%, #221e1f 100%);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #ededed;
  border-radius: 10px;
}
/* 
*::-webkit-scrollbar-thumb:hover {
    background: #40a0ff;
} */
